<main class="mt-4">
    <section>
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header bg-transparent ">
            <div class="row align-items-center mb-3">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h6 class="fw-600 mb-2 mb-sm-2 mb-md-0">Training And Non-Training Targets</h6>
              </div>
              <div class="col-12 col-sm-5 col-md-2 col-lg-2">
                <!-- <label for="Agencies" style="font-weight: 600;">List Of Agencies</label>
                <select class="form-select" id="Agencies" [(ngModel)]="selectedAgencyId"
                  (change)="GetProgramsByAgency($any($event.target).value)"> -->
                  <!-- <option value="-1"> All Agencies</option> -->
                  <!-- <option *ngFor="let list of agencyList" value="{{list.agencyId}}">
                    {{list.agencyName}}</option>
                </select> -->
                <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of Agencies</mat-label>
                                <mat-select [(ngModel)]="selectedAgencyId" (selectionChange)="GetProgramsByAgency($any($event).value)">
                                <mat-select-filter [array]="agencyList"  (filteredReturn)="agencyListFiltered = $event">
                                </mat-select-filter>
                                <!-- <mat-option value="-1" >All Agencies</mat-option> -->
                                <mat-option *ngFor="let list of agencyListFiltered" [value]="list.agencyId">
                                {{ list.agencyName }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
              </div>
              <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-2 mt-3">
                <div class="d-grid text-end">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#addTarget" class="btn btn-lime-green"
                    (click)="openTargetsModal('add')">Add Target</button>
                </div>
              </div> -->
              <div class="col-12 col-sm-5 col-md-2 col-lg-2">
                <!-- <label for="Agencies" style="font-weight: 600;">List Of FY</label>
                <select class="form-select" id="Agencies" [(ngModel)]="selectedFinancialYear"
                (change)="getBasedOnYearSelection($any($event.target).value)">
                <option *ngFor="let val of this.financialYears" value="{{val}}">{{val}}</option>
                </select> -->
                <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of FY</mat-label>
                                <mat-select [(ngModel)]="selectedFinancialYear" (selectionChange)="getBasedOnYearSelection($any($event).value)">
                                <mat-select-filter [array]="financialYears" (filteredReturn)="financialYRFiltered = $event">
                                </mat-select-filter>
                                <!-- <mat-option value="" disabled>Select Program</mat-option> -->
                                <mat-option *ngFor="let list of financialYRFiltered" [value]="list">
                                {{ list }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
              </div>
               <div class="col-12 col-sm-6 col-md-2 col-lg-2 mt-3">
               
                <div class="d-grid text-end">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#addTarget" class="btn btn-lime-green"
                    (click)="openTargetsModal('add')">Add Target</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body mb-3">
             <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
              <button [ngClass]="{ 'active':activeTab==='nav-twos'}" (click)="onTabChange('nav-twos')"
                class="nav-link active text-primary fw-600 " id="nav-home-tab"  data-bs-toggle="tab" data-bs-target="#nav-twos" type="button"
                role="tab" aria-controls="nav-home" aria-selected="true"> Training Targets </button>
              <button [ngClass]="{ 'active':activeTab==='nav-ones'}" (click)="onTabChange('nav-ones')"
                class="nav-link active text-primary fw-600" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-ones" type="button"
                role="tab" aria-controls="nav-home" aria-selected="true"> Non Training Targets</button>

            </div>
          </nav>
          <div class="tab-content border" id="nav-tabContent">
             <div class="tab-pane fade active show mb-3" id="nav-twos" role="tabpanel" aria-labelledby="nav-home-tab"
              [ngClass]="{ 'active':activeTab==='nav-twos'}" *ngIf="activeTab==='nav-twos'">
              <div class="m-3">
                 <!-- <button class="btn btn-secondary mb-3" type="button" (click)="goBack()">
              <i class="bi bi-arrow-left"></i> Back
            </button> -->
               <h6 class="fw-bold mb-3 mt-3">Training Targets : {{getAgencyName(selectedAgencyId)}}</h6>
              <!-- Add the button to open the modal in the card header -->
             
            <!--  id=view-physical-table  -->
            <div class="table-container">
              <table  class="table table-bordered table-striped nowrap w-100 fsize-10">
                <thead class="bg-lime-green">
                  <tr>
                    <th class="text-center sticky-col-1" rowspan="3">Activity Name</th>
                    <th class="text-center sticky-col-2" rowspan="3">Sub Activity Name</th>
                    <ng-container *ngFor="let item of this.tableheaderList">
                      <th  class="text-center"  colspan="20">FY{{item}}</th>
                    </ng-container>
                  </tr>
                  <tr>
                    <ng-container *ngFor="let item of this.tableheaderList">
                      <th class="text-center" rowspan="1" colspan="2" >Grand Total</th>
                      <th class="text-center"rowspan="1"  colspan="2" >Q1(Apr-Jun)</th>
                      <th class="text-center" rowspan="1" colspan="2" >Q2(Jul-Sep)</th>
                      <th class="text-center" rowspan="1" colspan="2" >Q3(Oct-Dec)</th>
                      <th class="text-center" rowspan="1"  colspan="2" >Q4(Jan-Mar)</th>
                    </ng-container>
                  </tr>
                  <tr>
                    <ng-container *ngFor="let item of [1,2,3,4,5]">
                      <th class="text-center"  rowspan="1" colspan="1">Physical Targets</th>
                      <th class="text-center" rowspan="1" colspan="1" >Financial Targets</th>
                    </ng-container>
                  </tr>
                  <!-- <tr>
                    <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                      <th class="text-center" >Target</th>
                      <th class="text-center" >Achieved</th>
                    </ng-container>
                  </tr> -->
                </thead>
                <tbody >
                    <tr *ngFor="let item of tableList; let i = index">
                      <td class="sticky-col-1">{{item?.activityName}}</td>
                      <td class="sticky-col-2">{{item?.subActivityName}}</td>
                      <td>{{item?.totalTarget}}</td>
                      <!-- <td>{{item?.totalAchieved}}</td> -->
                      <td>{{item?.totalFinancialTarget | commaSeperationIndia}}</td>
                      <!-- <td>{{item?.totalFinancialAchieved}}</td> -->
                      <td>{{item?.trainingTargetQ1 }}</td>
                      <!-- <td>{{item?.achievedQ1}}</td> -->
                      <td>{{item?.financialTargetQ1 | commaSeperationIndia}}</td>
                      <!-- <td>{{item?.financialAchievedQ1}}</td> -->
                      <td>{{item?.trainingTargetQ2}}</td>
                      <!-- <td>{{item?.achievedQ2}}</td> -->
                      <td>{{item?.financialTargetQ2 | commaSeperationIndia}}</td>
                      <!-- <td>{{item?.financialAchievedQ2}}</td> -->
                      <td>{{item?.trainingTargetQ3}}</td>
                      <!-- <td>{{item?.achievedQ3}}</td> -->
                      <td>{{item?.financialTargetQ3 | commaSeperationIndia}}</td>
                      <!-- <td>{{item?.financialAchievedQ3}}</td> -->
                      <td>{{item?.trainingTargetQ4}}</td>
                      <!-- <td>{{item?.achievedQ4}}</td> -->
                      <td>{{item?.financialTargetQ4 | commaSeperationIndia}}</td>
                      <!-- <td>{{item?.financialAchievedQ4}}</td> -->
                    </tr>
                  </tbody>
                  <tbody *ngIf="!tableList?.length">
                    <tr>
                      <td class="text-center" colspan="21">Data Not Available</td>
                    </tr>
                  </tbody>
                </table>
            </div>
              </div>

            </div>
           
            <div class="tab-pane fade active show mb-3" id="nav-ones" role="tabpanel" aria-labelledby="nav-home-tab"
              [ngClass]="{ 'active':activeTab==='nav-ones'}" *ngIf="activeTab==='nav-ones'">
              <div class="m-3">
                 <h6 class="fw-bold mb-3">Non Training Targets : {{getAgencyName(selectedAgencyId)}}</h6>
            <!--  id=view-physical-table  -->
            <div class="table-container" >
              <table  class="table table-bordered table-striped nowrap w-100 fsize-10">
                <thead class="bg-lime-green">
                  <tr>
                    <th class="text-center sticky-col-1" rowspan="3">Activity Name</th>
                    <th class="text-center sticky-col-2" rowspan="3">Sub Activity Name</th>
                    <ng-container *ngFor="let item of this.tableheaderList">
                      <th  class="text-center"  colspan="20">FY{{item}}</th>
                    </ng-container>
                   
                </tr>
                <tr>
                  <ng-container *ngFor="let item of this.tableheaderList">
                    <th class="text-center" rowspan="1" colspan="2" >Grand Total</th>
                    <th class="text-center"rowspan="1"  colspan="2" >Q1(Apr-Jun)</th>
                    <th class="text-center" rowspan="1" colspan="2" >Q2(Jul-Sep)</th>
                    <th class="text-center" rowspan="1" colspan="2" >Q3(Oct-Dec)</th>
                    <th class="text-center" rowspan="1"  colspan="2" >Q4(Jan-Mar)</th>
                  </ng-container>
                 
                   
    
                </tr>
                <tr> <ng-container *ngFor="let item of [1,2,3,4,5]">
                  <th class="text-center"  rowspan="1" colspan="1">Physical Targets</th>
                  <th class="text-center" rowspan="1" colspan="1" >Financial Targets</th>
                </ng-container></tr>
                <!-- <tr> <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                  <th class="text-center" >Target</th>
                  <th class="text-center" >Achieved</th>
                </ng-container></tr> -->
                </thead>
                <tbody >
                  <tr *ngFor="let item of tableListNonTraining; let i = index">
                    <td class="sticky-col-1">{{item?.activityName}}</td>
                    <td class="sticky-col-2">{{item?.subActivityName}}</td>
                    <td>{{item?.totalTarget}}</td>
                    <!-- <td>{{item?.totalAchieved}}</td> -->
                    <td>{{item?.totalFinancialTarget | commaSeperationIndia}}</td>
                    <!-- <td>{{item?.totalFinancialAchieved}}</td> -->
                    <td>{{item?.trainingTargetQ1}}</td>
                    <!-- <td>{{item?.achievedQ1}}</td> -->
                    <td>{{item?.financialTargetQ1 | commaSeperationIndia}}</td>
                    <!-- <td>{{item?.financialAchievedQ1}}</td> -->
                    <td>{{item?.trainingTargetQ2}}</td>
                    <!-- <td>{{item?.achievedQ2}}</td> -->
                    <td>{{item?.financialTargetQ2 | commaSeperationIndia}}</td>
                    <!-- <td>{{item?.financialAchievedQ2}}</td> -->
                    <td>{{item?.trainingTargetQ3}}</td>
                    <!-- <td>{{item?.achievedQ3}}</td> -->
                    <td>{{item?.financialTargetQ3 | commaSeperationIndia}}</td>
                    <!-- <td>{{item?.financialAchievedQ3}}</td> -->
                    <td>{{item?.trainingTargetQ4}}</td>
                    <!-- <td>{{item?.achievedQ4}}</td> -->
                    <td>{{item?.financialTargetQ4 | commaSeperationIndia}}</td>
                    <!-- <td>{{item?.financialAchievedQ4}}</td> -->
                    <!-- <ng-container *ngFor="let list of this.tableheaderList; let i = index;">
                      <ng-container *ngIf="getYearData(item, list) as yearData">
                        <td>{{yearData.total || 0}}</td>
                        <td>{{yearData.q1 || 0}}</td>
                        <td>{{yearData.q2 || 0}}</td>
                        <td>{{yearData.q3 || 0}}</td>
                        <td>{{yearData.q4 || 0}}</td>
                      </ng-container>
                    </ng-container> -->
                    <!-- <td class="text-center">
                      <button type="button" class="btn btn-default btn-sm text-lime-green"
                        (click)="openTargetsModal('edit',item)">
                        <span class="bi bi-pencil"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-sm text-danger ms-2"
                        (click)="deleteExpenditure(item)">
                        <span class="bi bi-trash"></span>
                      </button>
                    </td> -->
                  </tr>
                </tbody>
                <tbody *ngIf="!tableListNonTraining?.length">
                  <tr>
                    <td class="text-center" colspan="21">Data Not Available</td>
                  </tr>
                  
                </tbody>
                </table>
            </div>
              </div>

            </div>
          </div>
           
          
        
          </div>
        
        </div>
      </div>
    </section>
  </main>
 
  
  <div class="modal fade" id="exampleModalDeleteProgram" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalDeleteLabel">Delete Physical Targets</h5>
          <button type="button" class="btn-close" (click)="closeModalDelete()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete Physical Targets?.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModalDelete()">Close</button>
          <button type="button" class="btn btn-lime-green"
            (click)="ConfirmdeleteTargets(deletePhysicalId)">Confirm</button>
        </div>
      </div>
    </div>
  </div>



<!-- Replace the existing modal with this updated version -->
<div class="modal fade" id="addTarget" tabindex="-1" aria-labelledby="addTargetLabel" aria-hidden="true"
  data-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h6 class="modal-title" id="addLocationLabel">{{this.editRow?'Edit':'Add'}} {{activeTab === 'nav-twos' ? 'Training' : 'Non Training'}} Target</h6>
        <button type="button" class="btn-close me-1" data-bs-dismiss="modal" (click)="closeModalTargets()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="targetsScreenForm">
          <div class="row">
            <!-- Activity Selection -->
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <select class="form-select" formControlName="activityId" (change)="onActivityChange($event)">
                  <option selected value="">Select Activity</option>
                  <option *ngFor="let activity of activitiesList" [value]="activity.activityId">
                    {{activity.activityName}}
                  </option>
                </select>
                <label>Activity <span class="c-red"> *</span></label>
                <div *ngIf="f2['activityId'].touched && !f2['activityId'].valid" class="error text-danger">
                  Activity is required
                </div>
              </div>
            </div>

            <!-- Sub Activity Selection -->
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <select class="form-select" formControlName="subActivityId">
                  <option selected value="">Select Sub Activity</option>
                  <option *ngFor="let subActivity of subActivitiesList" [value]="subActivity.subActivityId">
                    {{subActivity.subActivityName}}
                  </option>
                </select>
                <label>Sub Activity <span class="c-red"> *</span></label>
                <div *ngIf="f2['subActivityId'].touched && !f2['subActivityId'].valid" class="error text-danger">
                  Sub Activity is required
                </div>
              </div>
            </div>

            <!-- Financial Year -->
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <select class="form-select" formControlName="financialYear">
                  <option selected value="">Select FY</option>
                  <option *ngFor="let val of this.financialYears" [value]="val">{{val}}</option>
                </select>
                <label>Financial Year <span class="c-red"> *</span></label>
                <div *ngIf="f2['financialYear'].touched && !f2['financialYear'].valid" class="error text-danger">
                  Financial Year is required
                </div>
              </div>
            </div>
          </div>

          <!-- Quarterly Physical Targets -->
          <div class="row">
            <div class="col-12">
              <h6 class="fw-bold mb-3">Physical Targets</h6>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q1Target" placeholder="Q1 Target" min="0">
                <label>Q1 (Apr-Jun) Target</label>
                <div *ngIf="f2['q1Target'].touched && !f2['q1Target'].valid" class="error text-danger">
                  Q1 Target is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q2Target" placeholder="Q2 Target" min="0">
                <label>Q2 (Jul-Sep) Target</label>
                <div *ngIf="f2['q2Target'].touched && !f2['q2Target'].valid" class="error text-danger">
                  Q2 Target is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q3Target" placeholder="Q3 Target" min="0">
                <label>Q3 (Oct-Dec) Target</label>
                <div *ngIf="f2['q3Target'].touched && !f2['q3Target'].valid" class="error text-danger">
                  Q3 Target is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q4Target" placeholder="Q4 Target" min="0">
                <label>Q4 (Jan-Mar) Target</label>
                <div *ngIf="f2['q4Target'].touched && !f2['q4Target'].valid" class="error text-danger">
                  Q4 Target is required
                </div>
              </div>
            </div>
          </div>

          <!-- Quarterly Financial Targets -->
          <div class="row">
            <div class="col-12">
              <h6 class="fw-bold mb-3">Financial Targets</h6>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q1Budget" placeholder="Q1 Budget" min="0" step="0.01">
                <label>Q1 (Apr-Jun) Budget</label>
                <div *ngIf="f2['q1Budget'].touched && !f2['q1Budget'].valid" class="error text-danger">
                  Q1 Budget is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q2Budget" placeholder="Q2 Budget" min="0" step="0.01">
                <label>Q2 (Jul-Sep) Budget</label>
                <div *ngIf="f2['q2Budget'].touched && !f2['q2Budget'].valid" class="error text-danger">
                  Q2 Budget is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q3Budget" placeholder="Q3 Budget" min="0" step="0.01">
                <label>Q3 (Oct-Dec) Budget</label>
                <div *ngIf="f2['q3Budget'].touched && !f2['q3Budget'].valid" class="error text-danger">
                  Q3 Budget is required
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="q4Budget" placeholder="Q4 Budget" min="0" step="0.01">
                <label>Q4 (Jan-Mar) Budget</label>
                <div *ngIf="f2['q4Budget'].touched && !f2['q4Budget'].valid" class="error text-danger">
                  Q4 Budget is required
                </div>
              </div>
            </div>
          </div>

          <div class="text-end">
            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal" (click)="closeModalTargets()">
              Cancel
            </button>
            <button type="button" class="btn btn-lime-green" 
              [disabled]="targetsScreenForm.invalid"
              (click)="submitTarget()">
              {{this.editRow ? 'Update' : 'Save'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
